*{
  padding: 0;
  margin: 0;
}

body{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background-image{
  background-image: url('image/calci.jpg');
  width: 100%;
  height: 663px;
  margin-top: -190px;
  background-size: contain;
  
  
}



.calculator{
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-top: -500px;
  font-size: 40px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(238, 117, 12)

}

.display{
  background-color: #f0f0f0;
  padding: 10px;
  font-size: 24px;
  text-align: right;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 2px;
  padding: 10px;
}

button{
  background-color: #333;
  color: #fff;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;

}
button:hover{
  background-color: #555;
}
